extends layout

block content
  div.network-details
    div.cover
      img(src="http://farm3.staticflickr.com/2385/2217512391_7d61c96de5_b.jpg")
    div.meta
      div.meta-inner
        div.name= network.name
        div.descr= network.descr

  div.documents
    if documents && documents.length > 0
      for doc in documents
        a.document(href="/documents/"+doc.id)
          div.title= doc.title
          div.author= doc.creator
          div.created-at= util.timeago(doc.created_at)
    else
      .no-documents No published documents yet