extends layout

block content
  div.network-details
    //- div.cover
    //-  img(src=network.cover)
    div.meta
      div.meta-inner
        div.name= network.name
        div.descr= network.descr

  div.documents
    if documents && documents.length > 0
      for doc in documents
        a.document(href="/"+network.id+"/"+doc.id)
          div.cover
            img(src=doc.cover)
          div.title= doc.title
          div.author= doc.creator
          div.created-at= util.timeago(doc.created_at)
    else
      .no-documents No published documents yet